<html>
  <head>
    <%= stylesheet_link_tag "tasks_style" %>
  </head>
  <body>
    <div id="header">
    </div>
    <div id="great_div">
      <p id="notice"><%= notice %></p>
      <p>
        <b>Name:</b>
        <%= @task.name %>
      </p>

      <p>
        <b>Status:</b>
        <%= @task.status %>
      </p>

      <%= link_to 'Back', tasks_path %>
    </div>
  </body>
</html>
